/* Basic Configuration */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

:root {
    --Background-color: hsl(216, 54%, 11%);
    --Background-Card-color: hsl(216, 50%, 16%);

    --Color-Text-titles: hsl(0, 0%, 100%);
    --Color-Text-lines: hsl(214, 30%, 64%);
    --Selected-Color-text: hsl(178, 100%, 50%);
}

body {
    background: var(--Background-color);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;

    color: var(--Color-Text-lines);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    background: var(--Background-Card-color);
    box-shadow: 0px 10px 8px 10px hsl(217, 55%, 10%);
    border-radius: 10px;

    width: 350px;
    margin: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Section */
#card_section-image {
    width: 100%;
    height: 30.5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card_section-image::before {
    content: "";
    width: 308px;
    height: 308px;

    position: absolute;
}

#card_section-image::after {
    content: "";
    width: 308px;
    height: 308px;

    position: absolute;
}

#card_section-image:hover::before {
    background: hsla(178, 100%, 50%, 0.555);
    border-radius: 10px;
}

#card_section-image:hover::after {
    background: url('images/icon-view.svg') center no-repeat;
    cursor: pointer;
}

#image_equilibrium-image {
    border-radius: 10px;

    width: 88%;
    margin: 20px 0;
}

/* Card Section */
#card_section-info {
    width: 90%;
}

.titles {
    color: var(--Color-Text-titles);
}

#section-info_title {
    font-weight: 800;
    margin: 5px 0 0 0;
}

#section-info_description {
    font-weight: 400;
    margin: 22px 0;
}

#section-info_more-info {
    display: flex;
    justify-content: space-between;
}

#value_ethereum-value {
    color: var(--Selected-Color-text);
    font-weight: 600;
}


/* Credits Section */
#card_section-credits {
    border-top: 1px solid hsl(214, 31%, 27%);

    width: 90%;

    padding: 20px 0 25px 0;
    margin: 20px 0 0 0;

    display: flex;
    align-items: center;
}

#credits_maker-image {
    border: 1px solid var(--Color-Text-titles);
    border-radius: 50%;

    width: 35px;
    height: 35px;

    margin: 0 15px 0 0;
}

#credits_maker-credits {
    font-weight: 400;
    font-size: 14px;
}

.selectionable-text:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}